name: Push to Feature Branch

on:
  push:
    branches-ignore:
      - prod
      - master
      - release
      - develop

jobs:
  build:

    runs-on: ubuntu-18.04

    steps:
      - uses: actions/checkout@v2

      - name: Set Node.js
        uses: actions/setup-node@v1
        with:
          node-version: 14.x

      - name: Set NPM Registry identity
        uses: ohoareau/actions/npmrc-scope-authtoken-add@master
        with:
          scope: genjs
          token: ${{secrets.CUSTOM_GITHUB_TOKEN}}
          registry: npm.pkg.github.com

      - name: Install
        run: make install

      - name: Test
        run: make test
        env:
          CI: true
